body {
    background: url("/img/space.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

tr:nth-child(even) {background: #F0F0F0}
tr:nth-child(odd) {background: #FFF}

.red-text {
    color: red;
}

.text-top {
    vertical-align: text-top;
}

.login-panel {
    background-color: rgba(0, 0, 0, 0.06);
    color: black;
    height: 52px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    right: 120px;
    width: 104px;
    top: 0;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.login-panel:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.login-button {
    border: 0px;
    height: 45px;
    margin-top: 1px;
    background-color: transparent;
    width: 100%;
}

.login-text {
    padding-left: 10px;
    font-family: sans-serif;
    font-size: medium;
    vertical-align: middle;
}

.login-button:hover {
    color: white;
}

.login-img {
    padding-top: 3px;
    height: 45px;
    content: url("../img/login-icon-white.png")
}

.logout-panel {
    background-color: rgba(0, 0, 0, 0.25);
    color: black;
    height: 65px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    right: 100px;
    width: 250px;
    top: 0;
}

.logout-text {
    font-size: x-small;
    text-decoration: underline;
    float: right;
}

.logout-button {
    border: 0px;
    background-color: transparent;
    width: 100%;
}

.logout-button:hover {
    color: white;
}

.profile-img {
    height: 50px;
}

.profile-img-frame {
    padding-top: 7px;
    padding-left: 7px;
}

.user-info-area {
    padding-top: 7px;
    font-size: small;
    padding-left: 0px;
    color: white;
}

input[type="submit"]{

    width:30px;
    height:30px;
    border:none;
    float:left;
    margin:30px 0 0;
    cursor:pointer;
}

.back-btn {
    font-size: 16px;
    color: white;
    background-image: url("/img/back-white.png");
    background-color: transparent;
    background-position-y: 5px;
    background-position-x: 5px;
    padding-left: 55px;
    padding-right: 15px;
    background-size: 40px;
    background-repeat: no-repeat;
    height: 50px;
    padding-bottom: 5px;
    margin: 0px;
    border: 0px;
    border-radius: 4px;
}

.back-btn:hover {
    background-image: url("/img/back.png");
    color: greenyellow;
    border: 0px;

}

.back-btn-row {
    margin-top: 30px;
    padding-bottom: 10px;
    margin-left: 75px;
    margin-right: 75px;
    border-bottom: white 1px solid;
}

.container {
    width: 100%;
    height: 100%;

}

.content-box {
    padding-top: 5px;
    padding-bottom: 5px;
}

.title-box {
    color: whitesmoke;
    margin-top: 175px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 35%;
}

@media(min-width:992px){
    .title-box {
        margin-left: 25%;
    }
}

@media(max-width:992px){
    .title-box {
        margin-left: 20%;
    }
}


.title-box h1 {
    margin-bottom: 0px;
    font-size: 50px;
}

.title-box h3 {
    font-size: 25px;
    margin-top: 0px;
}

.title-box h5 {

}

.logo-box {
    margin-top: 40px;
}

.logo-box h1 {
    font-size: 45px;
}


.search-box {
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 40px;
    padding-left: 0px;
    padding-right: 20px;
    border-radius: 3px;
}

.result-box {
    padding-top: 30px;
}

.keywords-row {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.result-row {
    margin-bottom: 30px;
}

@media(max-width:992px){
    .result-row {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.frequent-word-box {
    padding-top: 30px;
}

.history-box {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: -2px !important;
    padding-right: -2px !important;
}

.panel-group {
    margin-bottom: 0px !important;
}

.past-words-box {
    margin-top: 60px;
    background-color: transparent;
    /* background: url("/img/mat.png"); */
}

.panel-body {
    padding: 0px !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    border-radius: 5px;
}

.search-input {
    height: 45px;
    border-radius: 0px;
    font-size: large;
}

.search-btn {
    height: 45px;
    width: 70px;
    border-radius: 0px;
    background-color: yellowgreen;
    color: white;
    font-size: 20px;
}

.search-btn:hover {
    background-color: white;
    color: yellowgreen;
    border: 2px solid yellowgreen;
}

.panel-heading {
    border-radius: 0px !important;
    background-color: yellowgreen !important;
    color: white !important;
    text-align: center;
}

.panel {
    border: 0px !important;
}

.table {
    text-align: center;
}

.bold-title td {
    font-weight: bold;
}


#loading {
    position: absolute;
    display: none;
    z-index: 9999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#loading-icon {
    position: absolute;
    top: 30%;
    left: 50%
}

.error-msg {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
}

.error-msg a {
    color: blue;
}

.error-msg span {
    color: orange;
    font-size: x-large;
}

.error-msg img {
    margin-top: 20px;
}

.rslt-search-row {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: white 1px solid;
}

@media(max-width:992px){
    .rslt-search-row {
        margin-left: 5px;
        margin-right: 5px;
    }
}


.search-result {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*  -------------------------    TYPEAHEAD THEME ------------------------------------- */

.twitter-typeahead {
    width: 100%;
    margin-top: 5px;
}


/* scaffolding */
/* ----------- */

.tt-dropdown-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
}

a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

.typeahead,
.tt-query,
.tt-hint {
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  cursor: pointer;
  margin-top: 2px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/*  specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}

.search-result {
    list-style-type: none;

}

.search-result li {
    padding: 10px;
    word-wrap: break-word;
    border-bottom: 2px dashed whitesmoke;
}

.search-result li:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

li.currentPage {
    background: yellowgreen !important;
}
